<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SIXDEGREES_API_KEY</key>
    <string>f4667bc6cf24d5e0b455a3e1c2e3a926879de663</string>
    <key>SIXDEGREES_PRIVATE_KEY</key>
    <string>33eddd83297fc265a43b0d510429f81a7b94c374</string>
</dict>
</plist>
 
    
